* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}


.menu {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #fff;
  padding: 20px 20px;
  color: #1C242C;
}

.logo img {
  max-width: 150px; 
}

.menu-list {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.menu-item {
  text-decoration: none;
  color: #1C242C;
  margin-right: 50px;
  transition: color 0.3s;
}

.menu-item:hover {
  color: #E86A33;
  border-bottom: 1px solid #E86A33;
  padding-bottom: 10px;
}

.fale-conosco-button {
  background-color: #fff;
  color: #81B214;
  border: 1px solid #81B214;
  border-radius: 20px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-family: 'Red hat text';
  font-weight: bold;
}

.fale-conosco-button:hover {
  background-color: #81B214;
  color: #fff;
  scale: 1.2;
}

  