* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 10px;
  margin-bottom: 100px; 
  min-height: calc(100vh - 100px);
  background-color: #1c1c1c;
}

.card {
  width: calc(33.33% - 90px);
  background-color: #f0f0f0;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  margin: 20px;
  box-sizing: border-box; 
}

.card img {
  width: 100%;
  height: auto;
}

.card-content {
  padding: 16px;
}

.card-content h3 {
  font-size: 28px;
  margin-bottom: 8px;
}

.card-content p {
  color: #666;
  font-size: 15px;
  line-height: 1.3;
}

.card-content .btn {
  display: inline-block;
  padding: 8px 16px;
  background-color: #1c1c1c;
  text-decoration: none;
  border-radius: 14px;
  margin-top: 16px;
  color: #fff;
  border: 2px solid #1c242c;
}

.card-content .btn:hover {
  background-color: #4AAB3D;
  scale: 1.1;
}

/* Resposta para tablets */
@media only screen and (max-width: 1024px) {
  .card {
    width: calc(50% - 60px); /* 2 cards per row */
  }
}

/* Resposta para celulares */
@media only screen and (max-width: 768px) {
  .card {
    width: calc(100% - 40px); /* 1 card per row */
    margin: 10px 20px; /* Adjust margin */
  }

  .card-content h3 {
    font-size: 24px;
  }

  .card-content p {
    font-size: 14px;
  }
}
