* {
  font-family: 'Exo', sans-serif;
}

body {
  background-color: #1c1c1c;
}

#root {
  background-color: #1c1c1c;
}

.content {
  background-color: #1c1c1c;
}

h1 {
  margin: 2.5rem auto; 
  color: #fff;
  font-size: 2rem;
  text-align: center;
}

h1 .green {
  background-color: #4AAB3D;
  padding: 0.7rem;
  border-radius: 1.2rem;
  font-size: inherit;
}

.sub-text {
  background-color: #1c1c1c;
  color: #fff;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  margin-top: 1rem; 
}

.sub-text p {
  font-size: 1.2rem;
}

.conteiner-cartinha {
  display: flex;
  background-color: #1c1c1c;
  gap: 30px; 
}

.cartinha {
  width: 300px;
  height: 450px;
  background-color: #fff;
  border-radius: 1.8rem;
  position: relative;
  margin-top: 6rem;
  display: inline-block;
}

.cartinha img {
  width: 100%;
}

.square {
  background-color: #fff;
  border-radius: 0.2rem; 
  border: 0.1rem solid #f2f2f2;
  width: 4.32rem; 
  height: 3.84rem; 
  position: absolute;
  top: 28%;
  left: 24%;
  transform: translate(-50%, -50%);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.4rem; 
}

.square .icon {
  width: 100%;
}

.cartinha-text {
  margin-top: 16%;
  background-color: #fff;
}

.cartinha-text p {
  margin-top: 1rem; 
  margin-left: 1rem; 
}

.cartinha-text h2 {
  margin-top: 1rem; 
  margin-left: 1rem; 
}

.button-cartinha {
  position: absolute;
  bottom: 1.25rem; 
  right: 1.25rem; 
}

.button-cartinha .item9 {
  position: relative;
  overflow: hidden;
  transition: 0s;
  display: inline-block;
  text-decoration: none;
  width: 120px;
  text-align: center;
  background-color: #1c1c1c;
  color: #fff;
  border-radius: 1.2rem;
  padding: 7px; 
  cursor: pointer;
}

.button-cartinha .item9:hover {
  color: #eee;
  background: #4AAB3D;
  box-shadow: 0 0 1rem #4AAB3D, 0 0 1.5rem #4AAB3D, 0 0 3rem #4AAB3D;
  transition-delay: 1s;
}

.button-cartinha .item9 span {
  position: absolute;
  display: block;
}

.button-cartinha .item9 span:nth-child(1) {
  width: 100%;
  height: 2px; 
  top: 0;
  left: -100%;
  background: linear-gradient(88.89deg, transparent, #4AAB3D);
}

.button-cartinha .item9:hover span:nth-child(1) {
  left: 100%;
  transition: 1s;
}

.button-cartinha .item9 span:nth-child(2) {
  width: 2px; 
  height: 100%;
  right: 0;
  top: -100%;
  background: linear-gradient(181.44deg, transparent, #4AAB3D);
}

.button-cartinha .item9:hover span:nth-child(2) {
  top: 100%;
  transition: 1s;
  transition-delay: 0.25s;
}

.button-cartinha .item9 span:nth-child(3) {
  width: 100%;
  height: 2px;
  bottom: 0;
  right: -100%;
  background: linear-gradient(269.44deg, transparent, #4AAB3D);
}

.button-cartinha .item9:hover span:nth-child(3) {
  right: 100%;
  transition: 1s;
  transition-delay: 0.5s;
}

.button-cartinha .item9 span:nth-child(4) {
  width: 0.1rem; 
  height: 100%;
  left: 0;
  bottom: -100%;
  background: linear-gradient(359.88deg, transparent, #4AAB3D);
}

.button-cartinha .item9:hover span:nth-child(4) {
  bottom: 100%;
  transition: 1s;
  transition-delay: 0.75s;
}

.card-container {
  overflow: hidden;
}
