*{
  font-family: 'Exo', sans-serif;
}

body {
  background-color: #000;
} 

#root {
  background-color: #000;
}

h1{
  margin: 20px auto;
  color: #fff;
}

h1 .green {
  background-color: #4AAB3D;
  padding: 3px;
  border-radius: 12px;
}

.sub-text {
  background-color: #000;
  color: #fff;
  text-align: center;
  justify-content: center;
  padding: 10px;
}

.cartinha {
  width: 280px;
  height: 350px;
  background-color: #f2f2f2;
  border-radius: 12px;
}

.cartinha img {
  width: 100%;
}

.square .icon {
  width: 60px;
}


