* {
  font-family: 'Exo', sans-serif;
}

body {
  background-color: #1c1c1c;
}

#root {
  background-color: #1c1c1c;
}

h1 {
  margin: 50px auto; /* Reduce top margin to decrease space between h1 and the element above */
  color: #fff;
  font-size: 2rem;
  text-align: center;
}

h1 .green {
  background-color: #4AAB3D;
  padding: 7px;
  border-radius: 12px;
  font-size: inherit;
}

.sub-text {
  background-color: #1c1c1c;
  color: #fff;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  margin-top: 10px; /* Reduce top margin to decrease space between sub-text and h1 */
}

.sub-text p {
  font-size: 1.2rem;
}

.cartinha {
  width: 300px;
  height: 450px;
  background-color: #fff;
  border-radius: 12px;
  position: relative;
  margin-top: 100px;
  display: inline-block;
}

.conteiner-cartinha {
  display: flex;
  justify-content: space-between;
  background-color: #1c1c1c;
}

.cartinha img {
  width: 100%;
}

.square {
  background-color: #fff;
  border-radius: 2px;
  border: 1px solid #f2f2f2;
  width: 86px;
  height: 76px;
  position: absolute;
  top: 28%;
  left: 24%;
  transform: translate(-50%, -50%);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px; 
}

.square .icon {
  width: 100%; 
}

.cartinha-text {
  margin-top: 16%;
  background-color: #fff;
}

.cartinha-text p {
  margin-top: 10px;
  margin-left: 10px;
}

.cartinha-text h2 {
  margin-top: 10px;
  margin-left: 10px;
}

.button-cartinha {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.button-cartinha .item9 {
  position: relative;
  overflow: hidden;
  transition: 0s; /* Reduced from 0.2s to 0.1s for a faster transition */
  display: inline-block;
  text-decoration: none;
  width: 120px;
  text-align: center;
  background-color: #1c1c1c;
  color: #fff;
  border-radius: 20px;
  padding: 7px;
  cursor: pointer;
}


.button-cartinha .item9:hover {
  color: #eee;
  background: #4AAB3D;
  box-shadow: 0 0 10px #4AAB3D, 0 0 15px #4AAB3D, 0 0 30px #4AAB3D;
  transition-delay: 1s;
}

.button-cartinha .item9 span {
  position: absolute;
  display: block;
}

.button-cartinha .item9 span:nth-child(1) {
  width: 100%;
  height: 2px;
  top: 0;
  left: -100%;
  background: linear-gradient(88.89deg, transparent, #4AAB3D);
}

.button-cartinha .item9:hover span:nth-child(1) {
  left: 100%;
  transition: 1s;
}

.button-cartinha .item9 span:nth-child(2) {
  width: 2px;
  height: 100%;
  right: 0;
  top: -100%;
  background: linear-gradient(181.44deg, transparent, #4AAB3D);
}

.button-cartinha .item9:hover span:nth-child(2) {
  top: 100%;
  transition: 1s;
  transition-delay: 0.25s;
}

.button-cartinha .item9 span:nth-child(3) {
  width: 100%;
  height: 2px;
  bottom: 0;
  right: -100%;
  background: linear-gradient(269.44deg, transparent, #4AAB3D);
}

.button-cartinha .item9:hover span:nth-child(3) {
  right: 100%;
  transition: 1s;
  transition-delay: 0.5s;
}

.button-cartinha .item9 span:nth-child(4) {
  width: 2px;
  height: 100%;
  left: 0;
  bottom: -100%;
  background: linear-gradient(359.88deg, transparent, #4AAB3D);
}

.button-cartinha .item9:hover span:nth-child(4) {
  bottom: 100%;
  transition: 1s;
  transition-delay: 0.75s;
}

.card-container {
  overflow: hidden;
}
