* {
  font-family: 'Exo', sans-serif;
}

body {
  background-color: #1c1c1c;
}

#root {
  background-color: #1c1c1c;
}

h1 {
  margin: 20px auto;
  color: #fff;
}

h1 .green {
  background-color: #4AAB3D;
  padding: 3px;
  border-radius: 12px;
}

.sub-text {
  background-color: #1c1c1c;
  color: #fff;
  text-align: center;
  justify-content: center;
  padding: 10px;
}

.cartinha {
  width: 300px;
  height: 450px;
  background-color: #fff;
  border-radius: 12px;
  position: relative; 
  margin-top: 12%;
}

.cartinha img {
  width: 100%;
}

.square {
  background-color: #fff;
  border-radius: 2px;
  border: 1px solid #f2f2f2;
  width: 86px;
  height: 76px;
  position: absolute;
  top: 28%;
  left: 24%;
  transform: translate(-50%, -50%);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px; 
}

.square .icon {
  width: 100%; 
}

.cartinha-text {
  margin-top: 16%;
  background-color: #fff;
}

.cartinha-text p {
  margin-top: 10px;
  margin-left: 10px;
}

.cartinha-text h2 {
  margin-top: 10px;
  margin-left: 10px;
}

.button-cartinha {
  position: absolute;
  bottom: 10px; 
  right: 10px; 
  background-color: #fff;
}

.button-cartinha button {
  width: 180px;
  border-radius: 22px;
  background: #4AAB3D;
}

.item9{
  position: relative;
  overflow: hidden;

  transition: .2s;
}

.item9:hover{
  color: #eee;
  background: #4AAB3D;
  box-shadow: 0 0 10px #4AAB3D, 0 0 15px #4AAB3D, 0 0 30px #4AAB3D;  

  transition-delay: 1s;
}

.item9 span{
  position: absolute;
  display: block;
}

.item9 span:nth-child(1){
  width: 100%;
  height: 2px;

  top: 0;
  left: -100%;

  background: linear-gradient(88.89deg, transparent, #4AAB3D);
}

.item9:hover span:nth-child(1){
  left: 100%;
  transition: 1s;
}

.item9 span:nth-child(2){
  width: 2px;
  height: 100%;

  right: 0;
  top: -100%;

  background: linear-gradient(181.44deg, transparent, #4AAB3D);
}

.item9:hover span:nth-child(2){
  top: 100%;
  transition: 1s;
  transition-delay: .25s;
}

.item9 span:nth-child(3){
  width: 100%;
  height: 2px;

  bottom: 0;
  right: -100%;

  background: linear-gradient(269.44deg, transparent, #5B2);
}

.item9:hover span:nth-child(3){
  right: 100%;
  transition: 1s;
  transition-delay: .5s;
}

.item9 span:nth-child(4){
  width: 2px;
  height: 100%;

  left: 0;
  bottom: -100%;

  background: linear-gradient(359.88deg, transparent, #5B2B);
}

.item9:hover span:nth-child(4){
  bottom: 100%;
  transition: 1s;
  transition-delay: .75s;
}
