.footer {
    background-color: #F2F2F2;  
    color: black;  
    text-align: center;
    padding: 1rem 0;
    font-size: 0.875rem;
    position: fixed; 
    width: 100%;
    bottom: 0;
    left: 0;
}
