.contact-container {
    background-color: #ecf4ec; 
    padding: 40px;
    border-radius: 10px;
    max-width: 600px;
    margin: 40px auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 30px;
}

form {
    display: flex;
    flex-direction: column;
}

input, textarea, button {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: border-color 0.3s;
}

input:focus, textarea:focus {
    border-color: #00b894; /* Verde */
}

.input-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.input-group input {
    width: 48%; /* Isso permite que dois campos de input fiquem lado a lado com uma pequena margem entre eles. */
}

button {
    background-color: #00b894; /* Verde */
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

.text-square {
    max-width: 100%;
}

button:hover {
    background-color: #00816a; /* Verde um pouco mais escuro para hover */
}

