.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow: hidden;
  background-color: #f2f2f2;
}

.loginBox {
  width: 500px;
  padding: 40px 50px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.9); 
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.2);
}

.user-avatar {
  background-color: #fff;
  text-align: center;
  margin-bottom: 18px;
}

.loginHeader {
  margin-bottom: 30px;
  text-align: center;
  color: #4AAB3D;
}

.input {
  width: 100%;
  padding: 15px 0;
  margin-bottom: 20px;
  border: none;
  border-bottom: 1px solid #ccc; 
  background-color: #fff; 
  font-size: 18px;
  transition: border-color 0.3s;
}

.input:focus {
  border-color: #4AAB3D;
  outline: none; 
}


.button {
  width: 100%;
  padding: 15px 20px;
  border: none;
  border-radius: 8px;
  background: linear-gradient(90deg, #4AAB3D 0%, #4AAB3D 100%);
  color: #ffffff;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.button:hover {
  background: linear-gradient(90deg, #4AAB3D 0%, #4AAB3D 100%);
  transform: scale(1.05);
}
